<div class="Footer">
  <div class="container Footer__row">
    <!-- <div class="Footer__t">Footer</div> -->

    <!-- <div class="Footer__networks">
      <button (click)="copyGithub('github')">
        <img class="Footer__github" src="assets/svgs/github.svg" />
        <div *ngIf="showCopiedObj === 'github'" class="Footer__copiedPopUp">
          Github link copied!
        </div>
      </button>
      <button (click)="copyPhone('telegram')">
        <img class="Footer__telegram" src="assets/svgs/telegram.svg" />
        <div *ngIf="showCopiedObj === 'telegram'" class="Footer__copiedPopUp">
          Telegram number copied!
        </div>
      </button>
      <button (click)="copyPhone('whatsapp')">
        <img class="Footer__whatsapp" src="assets/svgs/whatsapp.svg" />
        <div *ngIf="showCopiedObj === 'whatsapp'" class="Footer__copiedPopUp">
          Whatsapp copied!
        </div>
      </button>
    </div> -->

    <ul class="Footer__contacts">
      <li>
        <span>Phone:</span>
        <a>+7(960)-478-39-95</a>
      </li>
      <li>
        <span>HitHub:</span>
        <a>https://github.com/MKL-GitHub</a>
      </li>
      <li>
        <span>HH:</span>
        <a
          >https://krasnodar.hh.ru/resume/2943919bff0781b13f0039ed1f373163744768</a
        >
      </li>
    </ul>
  </div>
</div>
