.ProjectsPage {
  display: flex;
  justify-content: center;
  padding: 1.5rem;

  &__quantity {
    margin-bottom: 1rem;
    // background-color: blue;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // display: flex;
    // justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    width: fit-content;
  }
}

@media only screen and (max-width: 1050px) {
  .ProjectsPage {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
