@import "mixins";

.ProjectsPage {
  display: flex;
  padding: 2rem 0;

  &__quantity {
    margin-bottom: 1rem;
  }

  &__ul {
    @include colFlex;
    gap: 2rem;
    gap: 2rem;
    width: fit-content;
  }
}

@media only screen and (max-width: 900px) {
  .ProjectsPage {
    &__ul {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
