<app-page-layout>
  <div class="wrapper container ProjectsPage">
    <div class="ProjectsPage__quantity">
      <strong>{{ projects.length }}</strong> Projects
    </div>
    <div class="ProjectsPage__ul" #projectsUlRef>
      <app-project-card
        class="fadeIn"
        *ngFor="let project of projects"
        [name]="project.name"
        [imageUrl]="project.imageUrl"
        [languages]="project.languages"
        [githubUrl]="project.githubUrl"
        [deploymentUrl]="project.deploymentUrl"
      />
    </div>
  </div>
</app-page-layout>
